
html,body{
    background-image: url( "lib/resumeBackground.jpg");
    min-width: 900px;
    height: 100%;
    margin: auto;
    font-family: Palatino;
}

a,ul,table,p,h1,h2,h3,h4,h5{
	padding:0;
	margin:0;
}
h3{
	padding-left: 2.5%;
}
h4,h5{
	padding-left: 5%;
}

table{
	margin-left:auto; 
    margin-right:auto;
	width:50%;
}
ul{
	padding-left: 10%;
}

.container
{
	position:relative;
    background: rgba(0,0,0,0);
    height: 100%;
}


.header
{
	position: absolute;
	width: 100%;
    background: rgba(255,255,255,0);
    height: 50px;
    top:0;
}

.menu
{
   position: absolute;
   top:50px;
   background: rgba(255,255,255,0); 
   height:25px;
   width: 100%;
}

.content
{
	position:absolute; 
	right:5%;
	left:5%;
    background: rgba(255,255,255,1);
    top:75px;
    bottom:50px;
    overflow:auto;
}

.resume_header{
	text-align: center;
}

.resume_block{
	position: static;
	background: rgba(0,255,0,0);
	min-height: 100px;
}

p#blockText{
	padding-left: 5%;
	padding-right: 5%;
}

.blankSpace{
	position: static;
	background: rgba(255,255,255,0);
	height: 25px;
}


.footer
{
	position: absolute;
	width: 100%;
    background: rgba(255,255,255,0);
    height: 50px;
    bottom: 0;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.content::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
} 
.content::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

.content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}
