
html,body{
    background-image: url( "lib/resumeBackground.jpg");
    min-width: 900px;
    max-width: 100%;
    height: 100%;
    margin: auto;
    font-family: Palatino;
}

a,ul,table,p,h1,h2,h3,h4,h5{
	padding:0;
	margin:0;
}
h3{
	padding-left: 2.5%;
}
h4,h5{
	padding-left: 5%;
}

table{
	margin-left:auto; 
    margin-right:auto;
	width:50%;
}
ul{
	padding-left: 10%;
}

.container
{
	position:relative;
    background: rgba(0,0,0,0);
    height: 100%;
}


.header
{
	position: absolute;
	width: 100%;
    background: rgba(255,255,255,0);
    height: 25px;
    top:0;
}

.menu
{
   position: absolute;
   top:50px;
   background: rgba(255,255,255,0); 
   height:25px;
   width: 100%;
}

.content
{
	position:absolute; 
	right:0%;
	left:0%;
    background: rgba(255,255,255,1);
    top:50px;
    bottom:25px;
    overflow:auto;
}

.resume_header{
	text-align: center;
}

.socialMedia{
	test
}

.resume_block{
	position: static;
	background: rgba(0,255,0,1);
	min-height: 100px;
}

p#blockText{
	padding-left: 5%;
	padding-right: 5%;
}

.image_block_1{
	position: static;
	background: rgba(0,255,0,1);
	min-height: 100px;
}

.image_container_1{
    position:relative;
    display:inline-block;
    text-align:center;
}

img.Slides{
	position: relative;
	max-width: 100%;
	width: 100%;
}

.slideshowquote{
	position: absolute;
	display: inline-block;
	left: 10%;
	top: 50%;
	width: 15;
	color: white;
	background-color: rgba(0,0,0,.2);
}

button.left{
	position: absolute;
	left: 1%;
}
button.right{
	position: absolute;
	right: 1%;
}
button {
	    border: none;
	    display: inline-block;
	    outline: 0;
	    padding: 8px 16px;
	    vertical-align: middle;
	    overflow: hidden;
	    text-decoration: none;
	    color: white;
	    background-color: rgba(0,0,0,.2);
	    cursor: pointer;
	    white-space: nowrap;
	    position: absolute;
		top: 50%;
}

a#headerLink{
	position: absolute;
	font-size: 50px;
	top: 1%;
	left: 1%;
}

.facebookBlock{
	position: relative;
	background: rgba(0,255,0,1);
	min-height: 100px;
}

.fb-comments{
    position:relative;
    top: 1%;
    left: 1%;
}

.socialMedia{
	position: relative;
	background: rgba(0,255,0,1);
	min-height: 100px;
	padding-top:100px;
	padding-bottom:75px;
	text-align: center;
}

.tableBlock{
	position: relative;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 80%;
	background: rgba(0,0,255,1);
}

.blog_block{
	position: relative;
	background: rgba(0,255,0,1);
	min-height: 100px;
	padding: 25px;
	padding-top: 75px;

}

.smPadding{
	position: relative;
	background: white;
	display: inline-block;
	width: 50px;
}

.smContainer{
	position: relative;
	background: white;
	display: inline-block;
	height: 200px;
	border-radius: 25px;
	margin-bottom: 25px;
	
}

.blog_container{
	transition: box-shadow .3s;
	display: block;
	position: static;
	background: rgba(255,0,0,1);
	top: 50%;
	left: 50%;
	height: 300px;
	width: 250px;
	display: inline-block;
	margin: 25px;
	margin-bottom: 0px;

}

img.thumb{
	clear: both;	
	display: block;
	margin:0 auto;
	margin-top: 10%;
	border: 1px solid #ddd;
    border-radius: 4px;


}

img.thumb:hover {
    box-shadow: 0px 0px 5px 5px rgba(0, 140, 186, 0.5);
}


.blankSpace{
	position: static;
	background: rgba(255,255,255,1);
	height: 25px
}

.footer
{
	position: absolute;
	width: 100%;
    background: rgba(255,255,255,0);
    height: 25px;
    bottom: 0;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.content::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
} 
.content::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

.content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

